*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media (max-width: 800px){
    @import "./mobil-styles/header-mobil";
    @import "./mobil-styles/main-mobil";
    @import "./mobil-styles/footer-mobil";
}

@media (min-width: 801px){
    @import "./desktop-tyles/header-desktop";
    @import "./desktop-tyles/main-desktop";
    @import "./desktop-tyles/footer-mobil";
}