*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media (max-width: 800px){
    @import "./mobil-styles/_header-mobil";
    @import "./mobil-styles/_main-mobil";
    @import "./mobil-styles/_footer-mobil";
}

@media (min-width: 801px){
    @import "./desktop-tyles/_header-desktop";
    @import "./desktop-tyles/_main-desktop";
    @import "./desktop-tyles/_footer-mobil";
}